.link {
    color: #555555;
    text-decoration: none;
}

.header {
    background:antiquewhite;
    margin-bottom: 1.45rem;
    display: flex;
    flex-direction: column;
}

.headerBlock {
    margin: 0 0 0 10rem;
}

.menuBlock {
    margin: 0 0 0 10rem;
    max-width: 500px;
}

.menuBlock ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menuBlock li a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: .9rem;

}
